### VisualStudioCode ###
.vscode/*
!.vscode/launch.json


### Vuejs ###

/vue/*
!vue/src
!vue/dist
!/vue/package-lock.json
!/vue/package.json


### WordPress ###

# Core
/wordpress/wp-admin/*
/wordpress/wp-includes/*
/wordpress/index.php
/wordpress/license.txt
/wordpress/readme.html
/wordpress/wp-*.php
/wordpress/xmlrpc.php

# Configuration
/wordpress/wp-config.php

# htaccess
/wordpress/.htaccess

# Ignore everything in the "wp-content" directory, except custom code.
/wordpress/wp-content/languages/*
/wordpress/wp-content/uploads/*
/wordpress/wp-content/upgrade/*
/wordpress/wp-content/themes/*
!wordpress/wp-content/themes/wp-vue
/wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/api-tmdb
!wordpress/wp-content/plugins/cpt-movie
!wordpress/wp-content/plugins/jwt-authentication-for-wp-rest-api
!wordpress/wp-content/plugins/post-list-randomize

